main .marketo-form {
  min-height: 500px;
}

main .marketo-form .mktoForm {
  width: 100% !important;
}

main .marketo-form .mktoForm .mktoFormRow .mktoFormCol {
  float: none;
  width: 100%;
}

main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoOffset,
main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap .mktoGutter {
  display: none !important;
}

main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap {
  float: none;
  margin-bottom: 1rem;
}

main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap label {
  font-weight: 700;
  padding-left: 13px;
  font-size: var(--body-font-size-m);
}

main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap input.mktoField, 
main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap select.mktoField, 
main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap textarea.mktoField {
  width: 100% !important;
}

main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap input.mktoField {
  border: 1px solid #6e6e6e;
  border-radius: 0;
  box-shadow: none;
  color: var(--clr-black);
  height: 50px;
  padding: 0 9pt;
}

main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap input.mktoField, 
main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap select.mktoField,
main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap textarea.mktoField {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap select.mktoField[multiple],
main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap select.mktoField[size],
main .marketo-form .mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap textarea.mktoField {
  height: auto;
}

main .marketo-form .mktoForm .mktoButtonRow {
  display: block;
}

main .marketo-form .mktoForm .mktoButtonRow .mktoButtonWrap {
  margin-left: 0!important;
}

main .marketo-form .mktoForm .mktoButtonRow .mktoButtonWrap button[type=submit].mktoButton {
  width: 100%;
}