.columns > .row {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.card .row .column {
  background-color: var(--clr-white);
  box-shadow: 0.0625rem 0.0625rem 0.1875rem 0 rgb(0 0 0 / 15%);
  border: .0625rem solid var(--clr-gray-light);
  padding: 1.5rem 1rem;
  margin-bottom: 1.5rem;
}

.columns.card .row .column:last-child {
  margin-bottom: 0;
}

.columns.card.opacity .row .column {
  background-color: rgb(255 255 255 / 75%);
}

.columns.card.dark .row .column {
  background-color: var(--clr-black);
}

.columns.card.gray .row .column {
  background-color: unset;
  box-shadow: unset;
  border: unset;
  padding: unset;
  margin-bottom: unset;
}

.columns.card.dark.opacity .row .column {
  background-color: rgb(0 0 0 / 50%);
}

.columns.card.gray .row .column:last-child {
  background-color: var(--clr-gray);
  box-shadow: 0.0625rem 0.0625rem 0.1875rem 0 rgb(0 0 0 / 15%);
  border: .0625rem solid var(--clr-gray-dark);
  padding: 1.5rem 1rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 600px) {
  .columns .row {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns.card .row {
    align-items: stretch;
  }

  .columns.card.gray .row {
    align-items: unset;
    flex-direction: column;
    gap: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.card.gray > div > div {
    flex: unset;
    order: 1;
  }

  .columns.split-66-33 .row .column-1 {
    flex-grow: 2;
  }

  .columns.split-75-25 .row .column-1 {
    flex-grow: 3;
  }

  .columns.card .row .column {
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0 0 0 / 25%);
    border: .0625rem solid var(--clr-gray-dark);
    min-width: 0;
  }

  .columns.card .row .column:last-child {
    margin-bottom: 1rem;
  }
}

@media (min-width: 900px) {
  .columns.card.gray .row {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns.card.gray > div > div {
    flex: 1;
    order: unset;
  }

  .columns.card .row .column {
    padding: 4.5rem 4rem;
    margin-bottom: 2.5rem;
  }

  .columns.card .row .column:last-child {
    margin-bottom: 2.5rem;
  }

  .columns.card.gray .row .column:last-child {
    padding: 3.5rem;
  }
}



@media (min-width: 600px) {
  /* align buttons right */
  .columns .column.button-container {
    text-align: right;
  }
}