.columns-container.content-break {
  padding: 2.5rem 1.5rem;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns-container .columns.left-border .row .column-1 {
  border-inline-start: 0.25rem solid var(--clr-white);
  padding-inline-start: 1rem;
  margin-bottom: 2.5rem;
}

.columns-container.grey .columns.left-border .row .column-1 {
  border-inline-start: 0.25rem solid var(--clr-teal);
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.split-66-33 .row .column-1{
    flex-grow: 2;
  }

  .columns.split-75-25 .row .column-1{
    flex-grow: 3;
  }

  .columns-container.content-break {
    padding: 7.5rem;
  }

  .columns-container .columns.left-border .row .column-1 {
    padding-inline-start: 1.5rem;
    margin-bottom: 0;
  }
}
