main .accordion .accordion-item {
  margin-bottom: 24px;
  border-bottom: 1px solid var(--clr-black);
}

main .accordion .accordion-item > h3,
main .accordion .accordion-item > h2 {
  margin: 0;
  display: flex;
}

main .accordion .accordion-item > h3 > .accordion-item-trigger,
main .accordion .accordion-item > h2 > .accordion-item-trigger {
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: var(--clr-black);
  padding: 20px 0;
  border: 0;
  margin: 0;
  display: flex;
  white-space: normal;
}

main .accordion .accordion-item-active > h3 > .accordion-item-trigger,
main .accordion .accordion-item-active > h2 > .accordion-item-trigger {
  border: 0;
}

main .accordion .accordion-item > h3 > .accordion-item-trigger:hover,
main .accordion .accordion-item > h3 > .accordion-item-trigger:active,
main .accordion .accordion-item > h3 > .accordion-item-trigger:focus,
main .accordion .accordion-item > h2 > .accordion-item-trigger:hover,
main .accordion .accordion-item > h2 > .accordion-item-trigger:active,
main .accordion .accordion-item > h2 > .accordion-item-trigger:focus {
  background-color: transparent;
}

main .accordion .accordion-item .accordion-item-trigger > .accordion-item-title {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-s);
  display: flex;
  line-height: 46px;
}


main .accordion .accordion-item .accordion-item-trigger > .accordion-item-title::before {
    font-family: 'Font Awesome 5 Pro'; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    content: '\f105';
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    transform: rotate(0);
    transform-origin: center;
    transition: transform .5s;
    font-size: 60px;
    color: var(--clr-teal-light);
    font-weight: 300;
    text-align: center;
}

main .accordion .accordion-item-active .accordion-item-trigger > .accordion-item-title::before {
  transform: rotate(90deg);
}

main .accordion .accordion-item .accordion-panel {
  padding: 20px 24px;
  transition: all .5s;
  opacity: 0;
  max-height: 40px;
}

main .accordion .accordion-item .accordion-panel.accordion-item-active {
  padding-top: 0;
  opacity: 1;
  max-height: none;
}

main .accordion .accordion-item .accordion-panel .table th, main .accordion .accordion-item .accordion-panel .table td {
    border: solid 1px;
    border-color: var(--clr-gray);
    font-weight: 300;
    font-size: 20px;
    padding: 0;
    line-height: normal;
}

main .accordion .accordion-item .accordion-panel .table th {
    color: var(--clr-white);
    background: linear-gradient(180deg,#006781,#002f39);
    font-weight: 700;
    font-size: 15px;
    padding: 2px;
    line-height: 1.5rem;
}

main .accordion .accordion-item .accordion-panel .table tbody tr:nth-child(odd) {
    background-color: var(--clr-gray);
}

main .accordion .accordion-item .accordion-panel .table a:any-link {
    color: var(--clr-primary);
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    min-width: 0;
    font-weight: inherit;
    text-wrap: wrap;
    text-align: left;
}

main .accordion .accordion-item .accordion-panel .table a:hover {
  text-decoration: underline;
}

@media (min-width: 900px) {
  main .accordion .accordion-item .accordion-item-trigger > .accordion-item-title {
    font-size: var(--heading-font-size-m);
  }

  main .accordion .accordion-item .accordion-panel {
    padding: 20px 50px;
    max-height: 40px;
  }
}