.library-metadata-container {
  position: relative;
}

.library-metadata {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 50%;
  border: 1px dotted currentcolor;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.library-metadata .tooltip {
  display: none;
  padding: 1rem;
}

.library-metadata .tooltip[aria-expanded="true"] {
  display: block;
  position: absolute;
  top: -1rem;
  left: 3rem;
  background-color: white;
  box-shadow: 4px 4px 4px 4px rgba(0 0 0 / 55%);
  color: black;
  z-index: 2;
  width: 40rem;
  max-width: 50vw;
  border-radius: 8px;
}

.library-metadata .tooltip h2 {
  font-size: 24px;
  line-height: 1.5;
}

.library-metadata .tooltip p {
  line-height: 1.5;
}

.library-metadata .tooltip[aria-expanded="true"]::before {
  content: "";
  position: absolute;
  border-top: .5rem solid transparent;
  border-bottom: .5rem solid transparent;
  border-left: 1rem solid darkred;
  rotate: 180deg;
  left: -1rem;
  top: 1.25rem;
}