main .locator {
  background-color: var(--clr-gray);
  border: 1px solid var(--clr-gray-dark);
  box-shadow: 0 5px 4px -2px rgb(0 0 0 / 15%);
  padding: 1rem;
  margin-block-end: 2rem;
}

main .locator .locator-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
}

main .locator .locator-form .form-field-pair {
  flex-basis: 100%;
  position: relative;
}

main .locator .locator-form input[type="text"],
main .locator .locator-form input[type="number"] {
  font-family: var(--body-font-family);
  margin-block-end: 1rem;
  border: 1px solid #6e6e6e;
  border-radius: 0;
  box-shadow: none;
  color: var(--clr-black);
  height: 50px;
  padding: 0 1rem;
  max-width: initial;
  font-size: 1rem;
}

main .locator .locator-form select {
  font-family: var(--body-font-family);
  margin-block-end: 1rem;
  display: block;
  width: 100%;
  height: 50px;
  appearance: none;
  background-color: var(--clr-white);
  padding-left: 1rem;
  font-size: 1rem;
}

main .locator .locator-form .error {
  font-size: 0.85rem;
  color: var(--clr-danger);
  flex-basis: 100%;
  text-align: left;
}

main .locator .locator-form .form-field-pair.select::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 1.125rem;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--clr-primary);
}

main .locator button[type="submit"] {
  font-size: 1.125rem;
  font-weight: normal;
  width: 100%;
  padding: 1rem 0;
  font-family: var(--body-font-family);
}

main .locator.office .form-field-pair .locator-autocomplete-list {
  position: absolute;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-black);
  list-style: none;
  z-index: 2;
  bottom: 70px;
  left: 0;
  right: 0;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

main .locator.office .form-field-pair .locator-autocomplete-list li {
  padding: 10px;
  cursor: pointer;
  background-color: var(--clr-white);
  border-bottom: 1px solid var(--clr-gray-light);
}

main .locator.office .form-field-pair .locator-autocomplete-list li:hover,
main .locator.office .form-field-pair .locator-autocomplete-list li.active {
  background-color: var(--clr-cyan);
}

@media (min-width: 900px) {
  main .locator {
    padding: 3.4375rem;
  }

  main .locator .locator-form .form-field-pair.half {
    flex-basis: 49.5%;
    margin-block-end: 0;
  }

  main .locator button[type="submit"] {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    width: initial;
  }
}